*{
    margin:0;
    padding:0;
}
body{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style:normal;
}
.header{
    background-image: url("./assets/Hero-bg.png");
    margin-top: 70px;
}

.near-future {
    text-align: center;
    margin: 40px 220px; 
    
}
.near-future h1{
    font-size: 48px;
    font-weight:900;
    color:#0D1321;
    padding:24px 73px;
}
.near-future p{
    font-size: 16px;
    font-weight: regular;
    color:#0D1321;
    padding:24px 100px;
}
.btn-1st{
    background-color: #0D1321;
    color:#FFFFFF;
    margin:20px;
    padding:21px 24px;
    border-radius: 8px;
    width: 244px;
    font-size: 20px;
    font-weight:700;
    cursor: pointer;
}
/* End of Header CSS */
.why{
    margin:80px 150px;
}
.why-dev h1{
    font-size: 32px;
    font-weight:regular;
    color:#0D1321;
    padding:24px 73px;
    text-align: center;
}
.why-dev p{
    font-size: 16px;
    font-weight: regular;
    color:#0D1321;
    padding:24px 100px;
    text-align: center;
}
.do-coding{
    display: flex;
    padding: 60px 40px;
    margin-top: 20px;
    text-align: left;
}
.do-code-desc{
    width: 60%;
} 
.do-code-desc h1{
    font-size: 24px;
    font-weight:regular;
    color:#0D1321;
    padding:15px 73px;
    text-align: left;
}
.do-code-desc p{
    font-size: 16px;
    font-weight:regular;
    color:#0D1321;
    padding:15px 45px 15px 73px;
    text-align: left;
}
.btn2nd{
    padding: 12px 20px;
    font-size: 20px;
    font-weight:regular;
    color:#0D1321;
    margin:20px 70px;
    border-radius: none;
}
.help-people{
    display: flex;
    padding: 60px 40px;
    margin-top: 20px;
    text-align: left;
}
.help-people-desc{
    width: 60%;
} 
.help-people-desc h1{
    font-size: 24px;
    font-weight:regular;
    color:#0D1321;
    padding:15px 73px;
    text-align: left;
}
.help-people-desc p{
    font-size: 16px;
    font-weight:regular;
    color:#0D1321;
    padding:15px 45px 15px 73px;
    text-align: left;
}
.btn3rd{
    padding: 12px 20px;
    font-size: 20px;
    font-weight:regular;
    color:#0D1321;
    margin:20px 70px;
    border-radius: none;
}
.change-world{
    display: flex;
    padding: 60px 40px;
    margin-top: 20px;
}
.change-world-desc{
    width: 60%;
} 
.change-world-desc h1{
    font-size: 24px;
    font-weight:regular;
    color:#0D1321;
    padding:15px 73px;
    text-align: left;
}
.change-world-desc p{
    font-size: 16px;
    font-weight:regular;
    color:#0D1321;
    padding:15px 45px 15px 73px;
    text-align: left;
}
.btn4th{
    padding: 12px 20px;
    font-size: 20px;
    font-weight:regular;
    color:#0D1321;
    margin:20px 70px;
    border-radius: none;
}
/* End of why section */
.inspiration{
    margin:80px 150px;
    text-align: center;
}
.inspiration h1{
    font-size: 32px;
    font-weight:extrabold;
    color:#0D1321;
    padding:24px 73px;
    text-align: center;
}
.inspiration p{
    font-size: 16px;
    font-weight: regular;
    color:#0D1321;
    padding:24px 100px;
    text-align: center;
}