*{
    margin:0;
    padding:0;
}
body{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style:normal;
}
.header{
    background-image: url("./assets/Hero-bg.png");
    margin-top: 70px;
}

.near-future {
    text-align: center;
    margin: 40px 220px; 
    
}
.near-future h1{
    font-size: 48px;
    font-weight:900;
    color:#0D1321;
    padding:24px 73px;
}
.near-future p{
    font-size: 16px;
    font-weight: regular;
    color:#0D1321;
    padding:24px 100px;
}
.btn-1st{
    background-color: #0D1321;
    color:#FFFFFF;
    margin:20px;
    padding:21px 24px;
    border-radius: 8px;
    width: 244px;
    font-size: 20px;
    font-weight:700;
    cursor: pointer;
}
/* End of Header CSS */
.why{
    margin:80px 150px;
}
.why-dev h1{
    font-size: 32px;
    font-weight:regular;
    color:#0D1321;
    padding:24px 73px;
    text-align: center;
}
.why-dev p{
    font-size: 16px;
    font-weight: regular;
    color:#0D1321;
    padding:24px 100px;
    text-align: center;
}
.do-coding{
    display: flex;
    padding: 60px 40px;
    margin-top: 20px;
    text-align: left;
}
.do-code-desc{
    width: 60%;
} 
.do-code-desc h1{
    font-size: 24px;
    font-weight:regular;
    color:#0D1321;
    padding:15px 73px;
    text-align: left;
}
.do-code-desc p{
    font-size: 16px;
    font-weight:regular;
    color:#0D1321;
    padding:15px 45px 15px 73px;
    text-align: left;
}
.btn2nd{
    padding: 12px 20px;
    font-size: 20px;
    font-weight:regular;
    color:#0D1321;
    margin:20px 70px;
    border-radius: none;
}
.help-people{
    display: flex;
    padding: 60px 40px;
    margin-top: 20px;
    text-align: left;
}
.help-people-desc{
    width: 60%;
} 
.help-people-desc h1{
    font-size: 24px;
    font-weight:regular;
    color:#0D1321;
    padding:15px 73px;
    text-align: left;
}
.help-people-desc p{
    font-size: 16px;
    font-weight:regular;
    color:#0D1321;
    padding:15px 45px 15px 73px;
    text-align: left;
}
.btn3rd{
    padding: 12px 20px;
    font-size: 20px;
    font-weight:regular;
    color:#0D1321;
    margin:20px 70px;
    border-radius: none;
}
.change-world{
    display: flex;
    padding: 60px 40px;
    margin-top: 20px;
}
.change-world-desc{
    width: 60%;
} 
.change-world-desc h1{
    font-size: 24px;
    font-weight:regular;
    color:#0D1321;
    padding:15px 73px;
    text-align: left;
}
.change-world-desc p{
    font-size: 16px;
    font-weight:regular;
    color:#0D1321;
    padding:15px 45px 15px 73px;
    text-align: left;
}
.btn4th{
    padding: 12px 20px;
    font-size: 20px;
    font-weight:regular;
    color:#0D1321;
    margin:20px 70px;
    border-radius: none;
}
/* End of why section */
.inspiration{
    margin:80px 150px;
    text-align: center;
}
.inspiration h1{
    font-size: 32px;
    font-weight:extrabold;
    color:#0D1321;
    padding:24px 73px;
    text-align: center;
}
.inspiration p{
    font-size: 16px;
    font-weight: regular;
    color:#0D1321;
    padding:24px 100px;
    text-align: center;
}
/* End of inspiration */
.current-target{
    margin:80px 150px;
    
}
.current-target h1{
    font-size: 32px;
    font-weight:extrabold;
    color:#0D1321;
    padding:24px 73px;
    text-align: center;
}
.current-target p{
    font-size: 16px;
    font-weight: regular;
    color:#0D1321;
    padding:24px 100px;
    text-align: center;
}
 
.html-css-js{
    display: flex; 
    margin:50px 150px;
    align-items: center;
    justify-content: center;
    width: 100%;
    
   
    
}
.html{
     margin: 12px;  
     padding: 40px;
     width: 30%;
     text-align: left; 
             
}
.html h1{
    font-size: 24px;
    font-weight:extrabold;
    color:#0D1321;
    text-align: left;
    padding: 12px;
    
    
}
.html p{
    font-size: 16px;
    font-weight:regular;
    color:#0D1321;
    text-align: left;
    padding:12px ;
    
    
}
.html a{
    padding:12px;
}
    .css {
     margin:12px; 
     padding:40px; 
    width: 30%; }

   
    .css h1 {
       font-size: 24px;
       font-weight:extrabold;
       color:#0D1321;
       text-align: left;
       padding:12px;}
       
   
   .css p{
       font-size: 16px;
       font-weight:regular;
       color:#0D1321;
       text-align: left;
       padding:12px;
       
   }
   .css a{
    padding:12px;
   }
       
         
    .js{
     margin:12px;  
     padding:40px; 
    width: 30%;}


   .js h1{
       font-size: 24px;
       font-weight:extrabold;
       color:#0D1321;
       text-align: left;
       padding:12px;
       
   }

   .js p {
       font-size: 16px;
       font-weight:regular;
       color:#0D1321;
       text-align: left;
       padding:12px;}
       
   .js a{
    padding:12px;
   }
   /* End of current target */
   .support{
    width:1140px;
    height: 70vh;
    margin:20px 100px 20px 100px;
    position: relative;

}
.need-support{
    width:1140px;
    height: 70vh;
    background-image: url("./assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    position: absolute;

}
.layer{
    width: 1140px;
    height: 70vh;
    background-color: black;
    
    border-radius: 16px;
    position: absolute;
    opacity: 40%;
}
.support-text{
    width: 1140px;
    height: 50vh;
    text-align: center;
    position: absolute;
}

.support-text h1{
    font-size: 32px;
    font-weight:bold;
    color:#FFFFFF;
    padding-top:225px;
    text-align: center;
    
    
}

.support-text p{
    font-size: 16px;
    font-weight: regular;
    color:#FFFFFF;
    padding:24px 150px;
    text-align: center;
    
}
.suggest{
    padding:25px 200px ;
    font-size: 16px;
    font-weight: regular;
    border-radius: 8px;
}
.submit{
    padding:22px 50px ;
    font-size: 20px;
    font-weight: semibold;
    border-radius: 8px;

}
/* End of support section */